@use "../../styles/variables" as *;

.anime-card{
    border: 2px solid $primary-color;
    border-radius: 15px;
    box-shadow: 5px 5px 10px $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 10px;
    background-color: #FEFADC;
    text-align: center;
    color:black;
    

    &__image {
        height: 10rem;
        position: relative;
        margin: 10px;
    }

    &__name, &__year {
        font-size: 15px;
        margin: 5px;
    }

    &__name:hover{
        color: $background-color;
        font-size: 20px;
    }
}

a {
    text-decoration: none;
}

