@use "../../styles/variables" as *;

.anime-card{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 10px;
    text-align: center;
    color:$text-color;
    

    &__image {
        height: 17rem;
        position: relative;
        margin: 10px;
    }

    &__name, &__year {
        font-size: 1.2rem;
        margin: 5px;
    }
}

a {
    text-decoration: none;
}

