@use "../../styles/variables" as *;

.nav-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 5px;
    margin: 0 20px;
    color: $text-color;
    font-family: var(--font);
}