@use "../../styles/variables" as *;

main{
  background-color: $background-color-secondary;
}
.information {
  font-family: var(--font);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid black;
  background-color: $text-color;

  &__container {
    height: 100%;

    &--image {
      align-self: flex-start;
      height: 63vh;
      padding: 10px;
    }
  }

  &__text {
    padding: 20px;
    text-align: center;


    &--title {
      font-size: 3rem;
    }

    &--author,
    &--year {
      font-size: 1.5rem;
    }

    &--extra {
      font-size: 1.3rem;
    }

    &--selection {
      display: flex;

    }

    &--description{
        font-size: 1.2rem;
        text-align: justify;
        padding: 20px;
    }


  }
}
