@use "../../styles/variables" as *;
import 

.banner {
    background-image: url("banner-image.jpg");
    color: $text-color;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 40px;
    font-family: var(--font);
}