@use "../../styles/variables" as *;

.banner {
    background-color: $primary-color;
    color: $text-color;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 40px;
    font-family: var(--font);
}