@use "../../styles/variables" as *;

.nav {
    &__filter{
        height: 5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $text-color;
    }
}